# Importando as libs

In [1]:
!pip install pandasql

Requirement already satisfied: pandasql in c:\users\re041273\anaconda3\lib\site-packages (0.7.3)
Requirement already satisfied: pandas in c:\users\re041273\anaconda3\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: sqlalchemy in c:\users\re041273\anaconda3\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: numpy in c:\users\re041273\anaconda3\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\re041273\anaconda3\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\re041273\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\re041273\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\re041273\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)

In [2]:
import pandas as pd
from pandasql import sqldf
from datetime import datetime

# Leitura dos arquivos

In [75]:
#Tabela Customers
df_customers = pd.read_csv("Customers.csv")

#Tabela Events
df_events = pd.read_csv("Events.csv")

#Tabela Transactions
df_transactions = pd.read_csv("Transactions.csv")

# Tabela Customers

In [76]:
df_customers.head()

,CustomerApiid,CustomerId,AUM,RegisterDate,AmountFirstDeposit,TotalDeposits,TotalWithdrawals,MonthlyIncome,FinancialInvestmentsValue,Age,ComputedRiskTolerance
0,60a7d0011363ea0011d0eb80,192260,601.525833,2021-06-10 21:23:31,100.013269,5,0,250.0,3000.0,14,22.22
1,60c77e1ffdaebd001875353e,192853,1798.831206,2021-06-14 16:13:56,300.048411,2,0,8000.0,180000.0,35,77.78
2,588f45ae0a760bb65b380afa,11897,1621.043680,2017-09-14 12:08:06,2500.000000,13,2,4500.0,0.0,32,17.00
3,5915d73623d4b1881694e11e,12583,78643.814178,2017-09-25 15:44:40,2005.000000,37,7,18000.0,120000.0,34,69.17
4,591f5f3b3daa47c6488bce3f,5564,422.691159,2017-05-22 18:38:05,2000.000000,23,7,2000.0,45000.0,29,0.00

In [77]:
#Verificando linhas e colunas
df_customers.shape

(1000, 11)

In [80]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerApiid              1000 non-null   object
 1   CustomerId                 1000 non-null   int64
 2   AUM                        1000 non-null   float64
 3   RegisterDate               1000 non-null   datetime64[ns]
 4   AmountFirstDeposit         1000 non-null   float64
 5   TotalDeposits              1000 non-null   int64
 6   TotalWithdrawals           1000 non-null   int64
 7   MonthlyIncome              1000 non-null   float64
 8   FinancialInvestmentsValue  1000 non-null   float64
 9   Age                        1000 non-null   int64
 10  ComputedRiskTolerance      1000 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(4), object(1)
memory usage: 86.1+ KB

In [81]:
#Convertendo a coluna de 'RegisterDate' para datetime

df_customers['RegisterDate'] = pd.to_datetime(df_customers['RegisterDate'], format='%Y-%m-%d %H:%M:%S')
print(df_customers.dtypes)

CustomerApiid                        object
CustomerId                            int64
AUM                                 float64
RegisterDate                 datetime64[ns]
AmountFirstDeposit                  float64
TotalDeposits                         int64
TotalWithdrawals                      int64
MonthlyIncome                       float64
FinancialInvestmentsValue           float64
Age                                   int64
ComputedRiskTolerance               float64
dtype: object

# Tabela Events

In [82]:
df_events.head()

   EventDate Platform             CustomerApiid
0   20210112      IOS  5eb045b00d281d0010993b19
1   20210112      IOS  5d54036d7a4e2a00129ac685
2   20210112      IOS  5f160ad08df61f00175d4a94
3   20210112      IOS  5e1f7e25a6a96a0010ee1545
4   20210112      IOS  5e66a9a9e7bbca00119eb5fc

In [84]:
df_events.shape

(1000, 3)

In [83]:
df_events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   EventDate      1000 non-null   int64
 1   Platform       1000 non-null   object
 2   CustomerApiid  1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [85]:
#Convertendo a coluna de 'EventDate' para datetime

df_events['EventDate'] = pd.to_datetime(df_events['EventDate'], format='%Y%m%d')
print(df_events.dtypes)

EventDate        datetime64[ns]
Platform                 object
CustomerApiid            object
dtype: object

# Tabela Transactions

In [86]:
df_transactions.head()

       Id  Direction   Amount  CustomerId           OperatedAt
0  456538         10   200.00       64319  2021-05-03 09:40:42
1  475487         20   108.82       98336  2021-05-11 00:00:00
2  623919         10  1000.00      129337  2021-01-19 12:32:37
3  664611         10     1.00        2443  2021-06-09 13:57:21
4  670787         10   100.00       73726  2021-05-27 09:52:18

In [87]:
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          1000 non-null   int64
 1   Direction   1000 non-null   int64
 2   Amount      1000 non-null   float64
 3   CustomerId  1000 non-null   int64
 4   OperatedAt  1000 non-null   object
dtypes: float64(1), int64(3), object(1)
memory usage: 39.2+ KB

In [88]:
df_transactions['OperatedAt'] = pd.to_datetime(df_transactions['OperatedAt'], format='%Y-%m-%d %H:%M:%S')
print(df_transactions.dtypes)

Id                     int64
Direction              int64
Amount               float64
CustomerId             int64
OperatedAt    datetime64[ns]
dtype: object

# Unindo os dataframes para enriquecer a base

In [89]:
df_client = pd.merge(df_customers, df_transactions, on='CustomerId', how='inner')
df_client.head()

,CustomerApiid,CustomerId,AUM,RegisterDate,AmountFirstDeposit,TotalDeposits,TotalWithdrawals,MonthlyIncome,FinancialInvestmentsValue,Age,ComputedRiskTolerance,Id,Direction,Amount,OperatedAt
0,597d1f93ad57cd674deb5dfd,64617,65413.030158,2019-01-02 16:58:00,200.0,22,1,8000.0,0.0,37,24.0,1201605,10,2000.0,2021-01-04 09:31:27
1,5a04bd4815a605790aff5c77,24431,0.000000,2018-01-02 18:41:09,300.0,14,9,2000.0,0.0,22,13.5,1201889,10,100.0,2021-01-07 00:00:00
2,5f562b1a8a70670017ab6457,147955,10841.446485,2020-09-07 12:55:00,200.0,14,0,5236.0,100.0,32,17.5,1191683,10,300.0,2021-01-04 00:00:00
3,5b8740c9d345ed000ed4a55c,55461,17797.057930,2018-09-04 13:26:27,8000.0,32,3,20000.0,0.0,59,9.0,1189643,10,1200.0,2021-01-04 00:00:00
4,58779257b93e5a4001f73dd5,1605,0.000000,2017-02-09 15:39:26,200.0,9,15,4021.0,0.0,31,15.0,1199301,10,400.0,2021-01-04 00:00:00

In [90]:
df_client.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerApiid              30 non-null     object
 1   CustomerId                 30 non-null     int64
 2   AUM                        30 non-null     float64
 3   RegisterDate               30 non-null     datetime64[ns]
 4   AmountFirstDeposit         30 non-null     float64
 5   TotalDeposits              30 non-null     int64
 6   TotalWithdrawals           30 non-null     int64
 7   MonthlyIncome              30 non-null     float64
 8   FinancialInvestmentsValue  30 non-null     float64
 9   Age                        30 non-null     int64
 10  ComputedRiskTolerance      30 non-null     float64
 11  Id                         30 non-null     int64
 12  Direction                  30 non-null     int64
 13  Amount                     30 non-null     float64
 14  OperatedAt                 30 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(6), object(1)
memory usage: 3.8+ KB

In [33]:
#Dropando a coluna de index
df_client = df_client.drop(columns=['index'])

In [17]:
'''df_entrada = df_client[df_client['Direction'] == 10]
df_entrada = df_entrada['AmountFirstDeposit'].sum()
print(f'o valor total de entrada é {df_entrada}')'''

o valor total de entrada é 35850.0

In [47]:
#Criando a coluna Month
df_client['Month'] = pd.to_datetime(df_client['RegisterDate']).dt.month
df_client.head()

,CustomerApiid,CustomerId,AUM,RegisterDate,AmountFirstDeposit,TotalDeposits,TotalWithdrawals,MonthlyIncome,FinancialInvestmentsValue,Age,ComputedRiskTolerance,Id,Direction,Amount,OperatedAt,Month
0,60a7d0011363ea0011d0eb80,192260,601.525833,2021-06-10 21:23:31,100.013269,5.0,0.0,250.0,3000.0,14.0,22.22,NaN,NaN,NaN,NaT,6.0
1,60c77e1ffdaebd001875353e,192853,1798.831206,2021-06-14 16:13:56,300.048411,2.0,0.0,8000.0,180000.0,35.0,77.78,NaN,NaN,NaN,NaT,6.0
2,588f45ae0a760bb65b380afa,11897,1621.043680,2017-09-14 12:08:06,2500.000000,13.0,2.0,4500.0,0.0,32.0,17.00,NaN,NaN,NaN,NaT,9.0
3,5915d73623d4b1881694e11e,12583,78643.814178,2017-09-25 15:44:40,2005.000000,37.0,7.0,18000.0,120000.0,34.0,69.17,NaN,NaN,NaN,NaT,9.0
4,591f5f3b3daa47c6488bce3f,5564,422.691159,2017-05-22 18:38:05,2000.000000,23.0,7.0,2000.0,45000.0,29.0,0.00,NaN,NaN,NaN,NaT,5.0

- Calcular transações de entrada por mês:
    desmembrar coluna data criando coluna mês
    plotar gráfico sobre entradas

- quais clientes saíram da plataforma?
    fazer um agrupamento mensal
    plotar gráfico de saída mensal

In [62]:
#df_client['Month'] = pd.to_numeric(df_client['Month'])

pd.to_numeric(df_client['Month'], downcast='integer')

0       6.0
1       6.0
2       9.0
3       9.0
4       5.0
       ...
1970    NaN
1971    NaN
1972    NaN
1973    NaN
1974    NaN
Name: Month, Length: 1975, dtype: float64

In [65]:
df_client.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1975 entries, 0 to 1974
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CustomerApiid              1005 non-null   object
 1   CustomerId                 1975 non-null   int64
 2   AUM                        1005 non-null   float64
 3   RegisterDate               1005 non-null   datetime64[ns]
 4   AmountFirstDeposit         1005 non-null   float64
 5   TotalDeposits              1005 non-null   float64
 6   TotalWithdrawals           1005 non-null   float64
 7   MonthlyIncome              1005 non-null   float64
 8   FinancialInvestmentsValue  1005 non-null   float64
 9   Age                        1005 non-null   float64
 10  ComputedRiskTolerance      1005 non-null   float64
 11  Id                         1000 non-null   float64
 12  Direction                  1000 non-null   float64
 13  Amount                     1000 non-null   float64
 14  OperatedAt                 1000 non-null   datetime64[ns]
 15  Month                      1005 non-null   float64
dtypes: datetime64[ns](2), float64(12), int64(1), object(1)
memory usage: 247.0+ KB

In [68]:
df_client[df_client['CustomerId'] == 20312]

,CustomerApiid,CustomerId,AUM,RegisterDate,AmountFirstDeposit,TotalDeposits,TotalWithdrawals,MonthlyIncome,FinancialInvestmentsValue,Age,ComputedRiskTolerance,Id,Direction,Amount,OperatedAt,Month
1970,NaN,20312,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1201964.0,20.0,3052.63,2021-01-11 11:59:57,NaN

In [69]:
df_transactions[df_transactions['CustomerId'] == 20312]

          Id  Direction   Amount  CustomerId          OperatedAt
995  1201964         20  3052.63       20312 2021-01-11 11:59:57

In [72]:
df_customers[df_customers['CustomerId'] == 20312]

Empty DataFrame
Columns: [CustomerApiid, CustomerId, AUM, RegisterDate, AmountFirstDeposit, TotalDeposits, TotalWithdrawals, MonthlyIncome, FinancialInvestmentsValue, Age, ComputedRiskTolerance]
Index: []

In [74]:
df_customers['CustomerId'].value_counts()

149080    1
101754    1
124252    1
30045     1
145424    1
         ..
168650    1
127691    1
88780     1
79500     1
106495    1
Name: CustomerId, Length: 1000, dtype: int64